/*--general styles--*/
::after,
::before,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

span,
a {
  display: inline-block;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}


/*--variables--*/

.w-fit {
  width: fit-content;
}

.small-gray {
  font-size: 14px;
  color: #bfc1c8;
}

/*******************************************************************/
main {
  background-color: #1E202B;
}

section.home {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;

}

.input-group input {
  width: 100%;
  padding: 12px 50px 12px 16px;
  outline: none;
  border: 0px;
  background-color: #1E202B;

}

.input-group button {
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 8;
}

section.home .form-control:focus {
  outline: none;
  border: 0px;
  background-color: #1E202B;
  z-index: 0;
  box-shadow: none;
}

.input-group>.form-control:focus,
.input-group>.form-floating:focus-within,
.input-group>.form-select:focus {
  z-index: 0;
}

.navbar-brand img {
  height: 38px;
}

main nav .site-description {
  font-size: 10px;
  color: #bfc1c8;
}

.navbar-nav .nav-link {
  --bs-navbar-nav-link-padding-x: 25px;
  padding-block: 1px;
  margin-inline-start: 5px;
  border: 2px solid transparent;
  border-radius: 30px;
  color: white;
}

.navbar-nav .nav-link.active,
.nav-link:focus,
.nav-link:hover {
  border-color: #009ad8;
  color: #009ad8;
}

footer {
  background-color: #262936;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1E202B;
  color: #0d6efd;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 16px;

}

.social-links a:hover {
  background-color: #0d6efd;
  color: #fff;
}/*****************************************/
section.contact .breadcrumb {
  background-color: #262936;
}
section.contact .form-control:focus {
 
  background-color: #1E202B;
  box-shadow: none;
}
section.contact .form-control{

  background-color: #1E202B;
  box-shadow: none;
}